* {
    margin: 0;
    padding: 0;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    /* color: #3C3C3B; */
}

.login_seller {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
    direction: ltr;
}

.none {
    cursor: unset;
}

.left {
    /* position: fixed; */
    width: 60%;
    height: 100%;
    display: flex;
    /* padding-bottom: 20px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(101, 13, 134, 0.3) 0%, rgba(244, 227, 238, 0.3) 100%);
}

.error {
    color: red;
    margin: 0rem auto 0rem 0;
    font-weight: 400;
    font-size: 20px;
}

.errorbox {
    height: 1rem;
    width: 100%;
}

.Group198 {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
    left: 60px;
    top: 72px;
}

.customer {
    font-size: 30px;
    /* position: absolute; */
    /* background-color: #D7C0DF; */
    background-image: linear-gradient( #D7C0DF 40px, white 60px);
    width: 100%;
    height: 90px;
    left: 60px;
    top: 72px;
    display: flex;
    border-radius: 30px 30px 0 0;
    /* border-top: 4px solid rgba(140, 140, 140, 0.2); */
}

.Union {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 600px;
    margin-left: 60px;
    /* left: 60px;
    top: 72px; */
    /* box-sizing: border-box;
    width: 100%;
    height: 100%; */
    /* background-color: rgb(255, 255, 255); */
    border: 4px solid rgba(140, 140, 140, 0.41);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 30px;
}

.Rectangle130 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.8s;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    left: 60px;
    top: 72px;
    color: #6A6A6A;
    background-color: #d7c0dfed;
    /* border-top: 4px solid rgba(140, 140, 140, 0.2); */
    border-radius: 30px 30px 30px 0px;
}

.Rectangle130prim {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* position: absolute; */
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    color: #261e35;
    /* border: 4px solid rgba(140, 140, 140, 0.264); */
    border-bottom: 0;
    border-left: 0;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 30px 30px 0px 30px;
}

.image4 {
    position: fixed;
    width: 320.81px;
    height: 1501px;
    margin: -55px -170px 0 0;
    /*margin-top: 88px; */
    transform: scaleX(-1);
    /* left: 30%;
    top: -88px; */
    /* background-color: #D7C0DF; */
    background-image: url(../../Images/giftsme.png);
    background-size: contain;
}

.Group420 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* align-items: flex-start; */
    font-size: 30px;
    width: 40%;
    height: 100%;
    /* background-color: #261e35; */
}

.joziyat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 0 0 30px 30px;
    box-shadow: 2px 8px 7px 2px rgba(0, 0, 0, 0.2);
    /* border: 4px solid rgba(140, 140, 140, 0.264); */
}

.cardNum {
    /* position: absolute; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    width: 55%;
    min-width: 400px;
    height: auto;
    /* left: 147px;
    top: 386px; */
}

.Rectangle131 {
    display: flex;
    justify-content: flex-end;
    /* position: absolute; */
    width: 426px;
    height: 79px;
    font-size: 20px;
    /* left: 147px;
    top: 400px; */
    color: black;
    border: 2px solid rgba(38, 30, 53, 0.61);
    border-radius: 8px;
}

.Rectangle132prim {
    background-color: #261e35;
    text-decoration: none;
    border: none;
}

.input {
    width: 70%;
    height: 79px;
    display: flex;
    padding: 1px 20px;
    margin: 0 auto 0 0;
    z-index: 20;
    align-items: end;
    justify-content: center;
    border: 2px solid #261e35a5;
    border-radius: 8px;
}

.inputs:nth-child(4),
.inputs:nth-child(8),
.inputs:nth-child(12) {
    margin-right: 20px;
}

.inputs {
    font-size: 18px;
    width: 10px;
    height: 30px;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    border: none;
    border-bottom: 3px solid #f0f0f0;
    margin: 0px 1% 25px 1%;
    outline: none;
}

input:focus {
    border-bottom: 2px solid #261E35;
    outline: none;
}

.circle {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px;
    rotate: 180deg;
    margin: 30px 87px 0 0;
    display: flex;
    border-radius: 50%;
    border: none;
    background-color: #261e35;
    color: #FFFFFF;
}

.header {
    margin: 70px auto 110px auto;
    /* position: absolute; */
    width: 100%;
    height: 34px;
    top: 250px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #3C3C3B;
}

.Group153 {
    height: 20px;
    margin: 183px auto 0 auto;
    font-size: 28px;
}

.Group154 {
    margin: 90px 99px 70px 0;
    font-size: 28px;
    color: #5E3B5B;
}

.col-1 {
    width: 8%;
}

.col-2 {
    width: 16%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 32%;
}

.col-5 {
    width: 41%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58%;
}

.col-8 {
    width: 66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83%;
}

.col-11 {
    width: 91%;
}

.col-12 {
    width: 100%;
}

@media screen and (max-width:720px) {
    .input {
        margin: 0px 10px 10px auto;
        width: 65%;
        height: 74px;
    }
    .Group153 {
        font-size: 20px;
        z-index: 20;
    }
    .Group154 {
        z-index: 20;
        margin: 90px 20px 20px 0;
        font-size: 20px;
    }
}

@media screen and (max-width:420px) {
    .login_seller {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        height: 100vh;
        width: 100%;
        min-width: 400px;
        margin: 0;
        padding: 0;
    }
    .left {
        /* position: fixed; */
        /* height: 50%; */
        width: 100%;
        display: flex;
        /* padding: 0 2rem; */
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* padding-bottom: 40px; */
        margin: 0;
        padding: 0;
        background: linear-gradient(180deg, rgba(101, 13, 134, 0.3) 0%, rgba(244, 227, 238, 0.3) 100%);
    }
    .Group420 {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        /* align-items: flex-start; */
        font-size: 30px;
        height: 45%;
        width: 100%;
        /* background-color: #261e35; */
    }
    .image4 {
        position: absolute;
        width: 100%;
        height: 120px;
        margin: 0;
        transform: scaleX(1);
        /* left: 30%;
            top: -88px; */
        /* background-color: #D7C0DF; */
        background-image: url(../../Images/giftrowme.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    .Group153 {
        margin: 20px auto 20px auto;
        font-size: 16px;
    }
    .Group154 {
        margin: 20px 10% 0 auto;
        font-size: 16px;
    }
    .cardNum {
        margin: auto;
        min-width: 360px;
    }
    .error {
        font-size: 16px;
        margin: 0 auto 10px auto;
    }
    .input {
        margin: 0px auto 10px auto;
        width: 70%;
        height: 74px;
    }
    .circle {
        padding: 10px;
        margin: 10px;
    }
}