.Landing_Container {
    /* direction: rtl; */
    margin-top: 3%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}

.Landing_Container img {
    width: 50%;
}

.landing_text_sec {
    width: 100%;
    padding: 3%;
}

.landing_text_sec h1 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    /* text-align: right; */
}

.arrow_img {
    direction: rtl;
    max-width: 128px;
    margin-right: 70%;
}

.landing_btn_sec {
    margin-top: 1rem;
}

.landing_btn_sec p {
    /*font-weight: bold;*/
    /* text-align: right; */
    font-size: 18px;
    margin-bottom: 3%;
    width: 60%;
}

.landing_first_btn {
    display: flex;
    font-size: 12px;
    color: var(--white);
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    /*display: inline-flex;*/
    background-color: var(--logo_red);
    border-radius: 15px;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    outline: 0;
    padding: 3% 1%;
    /*display: flex;*/
    border: none;
    /* text-align: center; */
    user-select: none;
    margin-left: 62%;
    width: 40%;
}

.landing_first_btn {

    background: linear-gradient(to left, #682b72 30%, #562c5d 60%) right;
    background-size: 200%;
    transition: .7s ease-out;
}

.landing_first_btn:hover {
    background-position: left;
    border: none;
}

.landing_first_btn img {
    width: 18px;
    padding: 0 5px 0 0;
    margin: 0 5px 0 0;

}

@media (max-width: 720px) {
    .Landing_Container {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Landing_Container img {
        width: 80%;
    }
    .landing_text_sec {
        width: 80%;
        padding: 3%;
    }
    .landing_text_sec h1 {
        font-size: 35px;
        line-height: 1.5;
        margin: 0;
    }
    .arrow_img {
        display: none;
    }
    .landing_btn_sec {
        margin-top: 2%;
    }
    .landing_btn_sec p {
        font-weight: bold;
        font-size: 18px;
        width: 70%;
    }
    .landing_first_btn {
        font-size: 12px;
        color: var(--white);
        align-items: center;
        font-family: 'iran-sans';
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        background-color: var(--logo_red);
        border-radius: 15px;
        justify-content: center;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
        outline: 0;
        padding: 3% 6%;
        border: none;
        /* text-align: center; */
        width: 50%;
        user-select: none;
    }
    .landing_first_btn img {
        width: 18px;
        padding: 0 5px 0 0;
    }
}
@media (max-width: 590px) {
    .landing_first_btn{
        width: 70%;
    }
}
@media (max-width: 440px) {
    .Landing_Container {
        margin-top: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Landing_Container img {
        width: 90%;
        margin-top: 0;
        margin-bottom: 5%;
    }
    .landing_text_sec {
        width: 90%;
        padding: 3%;
    }
    .landing_text_sec h1 {
        font-size: 28px;
        margin: 0;
    }
    .landing_btn_sec p {
        width: 90%;
        font-size: 16px;
        margin: 8% 0;
        font-weight: bold;
    }
    .landing_first_btn {

        font-size: 12px;

        width: 85%;
        /*height: 4rem;*/
        color: var(--white);
        align-items: center;
        font-family: 'iran-sans';
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        background-color: var(--logo_red);
        border-radius: 15px;
        justify-content: center;
        box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
        outline: 0;
        padding: 2rem!important;
        margin: 10% 0;
        border: none;
        /* text-align: center; */
        user-select: none;
    }
    .landing_first_btn img {
        width: 24px;
        /*rotate: 180deg;*/
        margin: 0 5px 0 0;
        padding: 0 15px 0 0;
    }
}