* {
    margin: 0;
    padding: 0;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    /* color: #3C3C3B; */
}

.links {
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    font-weight: 300;
}

.login_seller {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    display: flex;
    direction: ltr;
}

.left {
    /* position: fixed; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(101, 13, 134, 0.3) 0%, rgba(244, 227, 238, 0.3) 100%);
    justify-content: space-around;
    align-items: flex-start;
    min-width: 700PX;
}

.Group198 {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
    left: 60px;
    top: 72px;
}

.customer {
    font-size: 30px;
    /* position: absolute; */
    /* background-color: #D7C0DF; */
    background-image: linear-gradient( #D7C0DF 40px, white 60px);
    width: 100%;
    height: 90px;
    left: 60px;
    top: 72px;
    display: flex;
    border-radius: 30px 30px 0 0;
    /* border-top: 4px solid rgba(140, 140, 140, 0.2); */
}

.Union {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 550px;
    margin: 20px 0 0 60px;
    /* left: 60px;
    top: 72px; */
    /* box-sizing: border-box;
    width: 100%;
    height: 100%; */
    /* background-color: rgb(255, 255, 255); */
    border: 4px solid rgba(140, 140, 140, 0.41);
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 30px;
}

.Rectangle130 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.8s;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    left: 60px;
    top: 72px;
    color: #6A6A6A;
    background-color: #d7c0dfed;
    /* border-top: 4px solid rgba(140, 140, 140, 0.2); */
    border-radius: 30px 30px 30px 0px;
}

.Rectangle130prim {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* position: absolute; */
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    color: #261e35;
    /* border: 4px solid rgba(140, 140, 140, 0.264); */
    border-bottom: 0;
    border-left: 0;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 30px 30px 0px 30px;
}

.image4 {
    position: fixed;
    width: 320.81px;
    height: 1501px;
    margin: -55px 0 0 -170PX;
    /*margin-top: 88px; */
    transform: scaleX(1);
    /* left: 30%;
    top: -88px; */
    /* background-color: #D7C0DF; */
    background-image: url(../../Images/giftsme.png);
    background-size: contain;
}

.Group420 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* align-items: flex-start; */
    font-size: 30px;
    width: 45%;
    height: 100%;
    min-width: 400PX;
    /* background-color: #261e35; */
}

.joziyat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 2px 8px 7px 2px rgba(0, 0, 0, 0.2);
    /* border: 4px solid rgba(140, 140, 140, 0.264); */
}

.phonenumber {
    /* position: absolute; */
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 426px;
    height: auto;
    /* left: 147px;
    top: 386px; */
}

.input {
    width: 70%;
    height: 79px;
    display: flex;
    padding: 0 55px;
    align-items: end;
    justify-content: center;
    border: 2px solid #261e35a5;
    border-radius: 8px;
}

.input1,
.input2,
.input3,
.input4,
.input5 {
    font-size: 18px;
    width: 38px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #8C8C8C;
    margin: 25px 20px;
    outline: none;
}

input:focus {
    border-bottom: 2px solid #261E35;
    outline: none;
}

.circle {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 10PX 0 10PX 60px;
    display: flex;
    border-radius: 50%;
    background-color: #261e35;
    color: #FFFFFF;
}

.errore {
    color: red;
    width: 100%;
    margin: 1rem -8rem 2rem 0;
    font-weight: 400;
    font-size: 20px;
}

.error {
    color: red;
}

.Rectangle132pp,
.Rectangle132prim {
    box-sizing: border-box;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 1rem auto;
    width: 280px;
    height: 65px;
    font-size: 22px;
    font-weight: 300;
    /* left: 214px;
    top: 534px; */
    background: #261E35;
    border: 3px solid #261E35;
    box-shadow: 0px 4px 10px rgba(38, 30, 53, 0.35);
    border-radius: 10px;
}

.Rectangle132pp {
    background: #ffffff;
    color: #261E35;
}

.header {
    margin: 70px auto 110px auto;
    /* position: absolute; */
    width: 100%;
    height: 10px;
    top: 250px;
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #3C3C3B;
}

.Group153 {
    margin-top: 68px;
    z-index: 20;
}

@media screen and (max-width:720px) {
    .Group153 {
        font-size: 20px;
        z-index: 20;
    }
    .Group154 {
        z-index: 20;
        margin: 90px 20px 20px 0;
        font-size: 20px;
    }
}

@media screen and (max-width:420px) {
    .login_seller {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        min-width: 420px;
        margin: 0;
        padding: 0;
    }
    .phonenumber {
        /* height: fit-content; */
        /* min-width: 300px; */
        margin: 0;
    }
    .left {
        /* position: fixed; */
        height: 400px;
        width: 100%;
        padding-top: 1rem;
        display: flex;
        /* padding: 0 2rem; */
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-width: 400px;
        /* padding: 0 auto 40px auto; */
        background: linear-gradient(180deg, rgba(101, 13, 134, 0.3) 0%, rgba(244, 227, 238, 0.3) 100%);
    }
    .input {
        width: 190px;
        height: 50px;
        display: flex;
        padding: 0 30px;
        align-items: end;
        justify-content: center;
        border: 2px solid #261e35a5;
        border-radius: 8px;
    }
    .circle {
        margin: 10PX 0 10PX -200px;
    }
    .input1,
    .input2,
    .input3,
    .input4,
    .input5 {
        font-size: 18px;
        width: 20px;
        height: 20px;
        text-align: center;
        border: none;
        border-bottom: 2px solid #8C8C8C;
        margin: 10px 12px;
        outline: none;
    }
    .Group420 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 30px;
        height: 340px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .Union {
        z-index: 40;
        width: 300px;
        min-width: 290px;
        height: 350px;
        margin: 0;
    }
    .image4 {
        position: absolute;
        width: 100%;
        height: 120px;
        margin: 0;
        margin-top: 220px;
        transform: scaleX(1);
        /* left: 30%;
            top: -88px; */
        /* background-color: #D7C0DF; */
        background-image: url(../../Images/giftrowme.png);
        background-repeat: no-repeat;
        background-size: auto;
    }
    .Group153 {
        width: 80%;
        margin-bottom: 100px;
        font-size: 16px;
    }
    .errore {
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
    }
    .header {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    .Rectangle132pp,
    .Rectangle132prim {
        margin-bottom: 5px;
        width: 130px;
        height: 35px;
        font-size: 10px;
    }
    /* 
        .Group154 {
            margin: 20px 10% 0 auto;
            font-size: 16px;
        }


        .input {
            margin: 0px auto 10px auto;
            width: 75%;
            height: 74px;
        }
        .circle {
            padding: 10px;
            margin: 10px;
        } */
}


/* 














/* چند قدم تا ساخت لحظات شیرین برای نزدیکانت با لحظه کارت */


/* position: absolute;
width: 559px;
height: 94px;
left: 869px;
top: 68px;

font-family: 'IRANSans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 47px;
text-align: center;

color: #261E35; */


/* خریدار */


/* 
position: absolute;
width: 78px;
height: 50.36px;
left: 166px;
top: 93.07px;

font-family: 'IRANSans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 47px;
text-align: center;

color: #6A6A6A;
 */


/* .Group198 {
    position: absolute;
    width: 600px;
    height: 661px;
} */


/* فرفری

position: absolute;
height: 34.75px;
left: 86.25%;
right: 3.19%;
top: 237.78px;

background: #261E35;
transform: rotate(-41.53deg); */


/* ارسال کد

position: absolute;
width: 79px;
height: 27px;
left: 320px;
top: 556px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
/* identical to box height */


/* color: #FFFFFF; */


/* فروشنده */


/* 
position: absolute;
width: 98px;
height: 47px;
left: 461px;
top: 91px;

font-family: 'IRANSans';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 47px;  */


/* identical to box height */


/* text-align: center;

color: #261E35; */


/* شماره همراه */


/* 
position: absolute;
width: 86px;
height: 28px;
left: 459px;
top: 386px;

font-family: 'IRANSans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;

color: #000000; */