.gifts_sec img{
    width: 100%;

}
.gifts_sec{
    display: flex;
}

.Cards_container {
}
.cards_sec{
    background-color: white;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
}
.Cards_card{
    width: 20%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    /*justify-items: center;*/
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.Cards_card:hover {
    transition: all 0.2 ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(166, 196, 19, 0.581) 0px 8px 16px -8px;
}

.card_text{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 50%;*/

}
.card_text p div{
    text-align: center;
    color: #505050B2;
    font-size: 0.9rem;
    padding: 0 4rem;
}
.card_text h3 div{
    font-weight: bold;
}
.Cards_card img{
    width: 100%;
    height: 50%;
    object-fit: contain;
    max-width: 100%;
    display: block;
}

.card_div1{
    border: solid 4px #D3D70675;
}
.card_div2{
    border: solid 4px #83A9F1;
}
.card_div3{
    border: solid 4px #8EC4A6;
}
@media screen and (max-width: 768px){
    .cards_sec{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }
    .Cards_card{
        width: 85%;
        padding: 3rem 0rem;
    }
    .Cards_card img{
        width: 60%;
    }

    .card_text{
        padding: 0 1rem;
    }
}

