.hamkari_container {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    direction: rtl;
}

@media (min-width: 1024px) {
    .hamkari_container {
        background-image: url('../../Images/HamkariBG.png');
    }
}


/*---------HOME PAGE---------*/

.homePage_container {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homePage_divider_svg {
    display: none;
}

.homePage_standalone_image {
    width: 100%;
}


/*-----GIFTCARD SECTION----*/

.giftcardSection_container {
    padding: 6rem;
    /*padding-top: 11rem;*/
}

@media (min-width: 1024px) {
    .giftcardSection_container {
        /*padding-top: 9rem!important;*/
    }
}

.giftcards {
    /*padding: 3rem;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.giftcards img {
    width: 80%;
}

@media (max-width: 1024px) {
    .giftcards img {
        width: 100% !important;
    }
}

.giftCardSection_header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    font-weight: 700;

    font-size: 2rem;
    /*padding-bottom: 0;*/
}
.giftCardSection_header div,
.giftCardSection_header span {
    font-weight: bold;
}

.giftCardSection_header span {
    color: #E67BE6;
}

@media (min-width: 1024px) {
    .giftCardSection_header {
        font-size: 3.5rem!important;
        /*padding: 1.5rem!important;*/
    }
}

.giftCardSection_descriptions {
    text-align: center;

    font-size: 1.2rem;
    margin-top: 2rem;
}
.giftCardSection_descriptions div{
    font-weight: 600;
}

@media (min-width: 1024px) {
    .giftCardSection_descriptions {
        font-size: 1.5rem!important;
    }
}

.giftCardSection_buttons {
    text-align: center;
}

.giftCardSection_buttons_button1 {
    /*background-color: #501A60;*/
    color: white;
    height: 48px;
    width: 372px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to left, #682b72 30%, #562c5d 60%) right;
    background-size: 200%;
    transition: .7s ease-out;
}

.giftCardSection_buttons_button1 div{
    font-family: "iran-sans";

}

.giftCardSection_buttons_button1:hover {
    background-position: left;
    border: none;
}

@media (min-width: 768px) {
    .giftCardSection_buttons {
        padding-top: 2.5em;
    }
}

.giftCardSection_button_style {
    background-color: white;
    height: 48px;
    width: 174px;
    margin: 0.5rem;
    border-radius: 9999px;
    cursor: pointer;
    border: none;
    transition: box-shadow 300ms ease-in-out;
}

.giftCardSection_button_style div {
    font-weight: 600;

    font-family: "iran-sans";

}

.giftCardSection_button_style:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}


/*-------FEATURED BRANDS SECTION-----*/

.featuredBrandsSection_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
    align-items: stretch;
    text-align: center;
}


.featuredBrandsSection_header div{
    font-weight: 700;
    font-size: 2rem;

}

.featuredBrandsSection_description div {
    font-size: 1.2rem;
    font-weight: 600;

}

.featuredBrandsSection_brands {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    margin-top: 1.1em;
}

.featuredBrandsSection_brands_image {
    width: 170px;
    height: 170px;
    border-radius: 1.5rem;
}

.featuredBrandsSection_brands_content {
    margin: 0.5rem;
    margin-top: 1.75rem;
    box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.05);
    padding: 1em;
    border-radius: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.17);
}

@media (min-width: 768px) {
    .featuredBrandsSection_brands_content {
        gap: 1rem;
    }
}


/*------BENEFITS SECTION------*/

.benefitsSection_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3em;
}

@media (min-width: 1024px) {
    .featuredBrandsSection_container {
        padding-top: 11em;
    }
}

.benefitsSection_content {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    align-items: center;
}

.benefitsSection_icon svg {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.benefitsSection_description_header {
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

.benefitsSection_description_header div {
    font-weight: bold;
}

@media (min-width: 768px) {
    .benefitsSection_description_header {
        font-size: 1.9rem !important;
    }
}

.benefitsSection_group {
    text-align: start;
    display: flex;
    gap: 1rem;
    /*font-size: 2rem;*/
    margin: 0.5rem 0;
}

.benefitsSection_group div {
    font-weight: 600;

    font-size: 1.2rem;

}

@media (min-width: 640px) {
    .benefitsSection_group div {
        font-size: 1.3rem!important;
    }
}


/*-----FEATURES SECTION-----*/

.featuresSection_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 3em;
}

@media (min-width: 1024px) {
    padding-top: 11em!important;
}

.featuresSection_content {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    align-items: center;
}

.featuresSection_description_header {
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

.featuresSection_description_header div {
    font-weight: bold;
}

@media (min-width: 768px) {
    .featuresSection_description_header {
        font-size: 2rem !important;
    }
}

.featuresSection_group {
    text-align: start;
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

.featuresSection_group div {
    font-weight: 600;

    font-size: 1.2rem;

}

@media (min-width: 640px) {
    .featuresSection_group div {
        font-size: 1.3rem!important;
    }
}

.featuresSection_icon svg {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}


/*----COMMENTS CAROUSEL SECTION----*/

.commentsCarouselSection_container {
    margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
    .commentsCarouselSection_container {
        margin-top: -90px;
    }
}

.commentsCarouselSection_header {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.commentsCarouselSection_header div {
    font-weight: bold;
}

.commentsCarouselSection_description {
    margin-bottom: 2em;
    font-size: 1rem;

    padding: 0 3rem;
    text-align: center;
    line-height: 2.3;
}

.commentsCarouselSection_description{
    font-weight: 600;
}

/*======MEDIA=====*/

@media screen and (max-width: 1024px) {
    .giftCardSection_buttons a {
        width: 100%;
    }
    .homePage_divider_svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero_background {
        background: radial-gradient( circle at center, rgba(255, 182, 255, 0.45) 0%, rgba(255, 182, 255, 0.3) 35%, rgba(255, 182, 255, 0.1) 60%, rgba(255, 255, 255, 0) 75%), linear-gradient(to bottom, #f7c8ff 0%, white 100%);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        position: relative;
        z-index: 0;
    }
}

@media screen and (max-width: 900px) {
    .giftcards {
        padding: 0 !important;
    }
    .giftCardSection_buttons {
        display: flex !important;
        align-items: center !important;
        flex-direction: column-reverse;
        margin-top: 16px !important;
        button {
            width: 70% !important;
        }
    }
    .featuredBrandsSection_brands {
        img {
            width: 25% !important;
            height: 25% !important;
        }
    }
    .benefitsSection_icon {
        width: 255px !important;
    }
    .benefitsSection_icon,
    .benefitsSection_shadow {
        max-width: 300px;
    }
    .benefitsSection_content {
        flex-direction: column;
    }
    .benefitsSection_group svg {
        width: 15px !important;
        height: 15px !important;
    }
    .featuresSection_icon {
        width: 255px !important;
    }
    .featuresSection_icon,
    .benefitsSection_shadow {
        max-width: 300px;
    }
    .featuresSection_content {
        flex-direction: column-reverse;
    }
    .featuresSection_group svg {
        width: 15px !important;
        height: 15px !important;
    }
}

body {

    /*font-family: 'Vazir', sans-serif;*/

    /* or 'Noto Sans Arabic' */
    direction: rtl;
    text-align: right;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    html {
        font-size: 10px;
    }


    .giftcardSection_container{
        padding: 6rem 2rem;
    }
}


