* {
    margin: 0;
    padding: 0;
}

.motherbox {
    font-family: 'iran-sans';
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.background {
    width: 90%;
    padding: 0 3% 3% 3%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba(172, 145, 182, 0.29);
}

.text,
p {
    font-weight: 400;
    font-size: 18px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    direction: rtl;
}

.text_topic {
    font-size: 24px;
}

.text_mein {
    font-size: 20px;
    text-align: right;
}

.list {
    margin: 2rem 0;
    width: 100%;
    text-align: right;
}

.list header {
    display: flex;
    justify-content: flex-start;
}

.list li,
.list dl {
    font-size: 18px;
    font-weight: 400;
    margin: 1% 2%;
    text-align: right;
}

.formContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.formField {
    font-size: 14px;
    width: 50%;
    margin: 2rem;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.city,
.formingresponsecol input {
    width: 50%;
    background-color: transparent;
    border: 1px #9AA4B7 solid;
    border-radius: 5px;
}

.formButtons button {
    width: 120px;
    background-color: #261E35;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.formingresponse {
    padding-right: 4rem;
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
}

.formingresponsecol {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkBoxContainer {
    height: 10rem;
    width: 50%;
    text-align: right;
}

.checkBoxContainer input {
    width: 20%;
}

@media screen and (max-width:420px) {
    .motherbox {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .background {
        /* width: 100%; */
        height: 100%;
        padding: 20px;
        border-radius: 0px 0 25px 25px;
    }
    .formingresponse {
        display: flex;
        flex-direction: column;
        padding: 0;
        /* justify-content: flex-start; */
    }
    .formingresponsecol {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formField {
        width: 80%;
        margin: 2rem 0;
    }
    .checkBoxContainer {
        margin-top: 2rem;
    }
}