.UserPage_Container {
    width: 100%;
    height: 90vh;
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right_sec {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.user_profile_info_phone {
    display: none;
}

.user_prof_img {
    width: 190px;
    border-radius: 50%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.user_info_sec {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.user_info_sec section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_info_sec section img {
    width: 23px;
    height: 23px;
    margin: 5px 10px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.user_info_sec p {
    color: #484848;
}

.user_btn_sec {
    width: 70%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.user_btn_sec section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.user_btn_sec section img {
    width: 33px;
    height: 33px;
    margin: 5px 10px;
}

.btns_sec {
    width: 100%;
    height: 20%;
    background: rgb(209, 184, 219);
    background: linear-gradient(180deg, #c3aac7 0%, rgba(255, 255, 255, 1) 100%);
}

.user_btn_active {
    width: 50%;
    height: 100%;
    background-color: var(--white);
    font-size: 32px;
    font-weight: bold;
    color: #181818;
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    border-radius: 15px;
    justify-content: center;
    padding: 3% 6%;
    border: none;
    text-align: center;
    user-select: none;
}

.user_btn_notactive1 {
    width: 50%;
    height: 100%;
    background-color: #c3aac7;
    font-size: 32px;
    font-weight: bold;
    color: #6A6A6A;
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    border-radius: 15px 0 15px 0;
    justify-content: center;
    padding: 3% 6%;
    border: none;
    text-align: center;
    user-select: none;
}

.user_btn_notactive2 {
    width: 50%;
    height: 100%;
    background-color: #c3aac7;
    font-size: 32px;
    font-weight: bold;
    color: #6A6A6A;
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    border-radius: 0 0 0 15px;
    justify-content: center;
    padding: 3% 6%;
    border: none;
    text-align: center;
    user-select: none;
}

.inputs_sec {
    width: 100%;
    height: 80%;
    border-radius: 0 0 15px 15px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.inputs_sec::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

.inputs_sec::-webkit-scrollbar-track {
    background: transparent;
}

.inputs_sec::-webkit-scrollbar-thumb {
    border-radius: 15em;
    background: #693e70;
}

.inputs_sec::-webkit-scrollbar-thumb:hover {
    background: #46234b;
}

.alert_div_notactive {
    display: none;
}

.alert_div {
    width: 50%;
    height: 40%;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alert_sec {
    width: 70%;
    height: 70%;
    border-radius: 15px;
    border-right: 20px solid #EBAC0A;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #D3BBDD;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert_div_message {
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alert_sec img {
    width: 32px;
    margin-left: 15px;
}

.alert_btn_div {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alert_btn_div button {
    width: 35%;
}

.logout_activate {
    font-size: 12px;
    color: var(--white);
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    background-color: #ebab0ace;
    border-radius: 5px;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 3px 5px -3px;
    outline: 0;
    padding: 3% 6%;
    border: none;
    text-align: center;
    user-select: none;
}

.logout_cancel {
    font-size: 12px;
    color: #000000;
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    background-color: transparent;
    border-radius: 5px;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 3px 5px -3px;
    outline: 0;
    padding: 3% 6%;
    border: 2px soild #000000;
    text-align: center;
    user-select: none;
}

.navbarDeactive {
    left: 100%;
    top: 0;
    position: absolute;
}

.left_sec {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.threebtn {
    display: flex;
    width: 100%;
    height: 90px;
    background-image: linear-gradient( #c3aac7 40px, white 60px);
    border-radius: 20px 20px 0 0;
}

.rowbtn1,
.rowbtn2,
.rowbtn3 {
    font-size: 30px;
    width: 33.3333%;
    color: #616161;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #c3aac7;
    text-decoration: none;
}

.rowbtn1:hover,
.rowbtn2:hover,
.rowbtn3:hover {
    color: #261e35;
}

.rowbtn1 {
    color: #261e35;
    border-radius: 20px 20px 20px 0px;
    background-color: #ffffff;
    /* border-top: 4px solid rgba(140, 140, 140, 0.41); */
}

.rowbtn2 {
    border-radius: 0px 0px 20px 0px;
}

.threebtninf {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 20px 20px;
    /* border: 4px solid rgba(140, 140, 140, 0.41);
    border-top: 0px; */
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.Activation_Container {
    width: 90%;
    height: 90%;
    padding: 1%;
    
}

.Activation_Container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activation_input_sec {
    width: 60%;
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.activation_input_sec p {
    width: 20%;
}

.activation_input_sec input {
    width: 50%;
    height: 70%;
    border-radius: 5px;
    border: 2px solid #261E354D;
}

.activation_input_sec span {
    color: #000000B2;
    margin-right: 1%;
}

.activation_btn_sec {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.activation_btn_sec button {
    width: 20%;
    height: 3rem;
    font-size: 16px;
    color: var(--white);
    background-color: #261E35;
    align-items: center;
    font-family: 'iran-sans';
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    border-radius: 10px;
    justify-content: center;
    padding: 3% 6%;
    border: none;
    text-align: center;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.activation_btn_sec button img {
    width: 18px;
    margin: 0 0 0 10px;
}

.alert_div_notactive {
    display: none;
}

.alert_div {
    width: 50%;
    height: 40%;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alert_sec {
    width: 70%;
    height: 70%;
    border-radius: 15px;
    border-right: 20px solid #14B82E;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #D3BBDD;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.alert_sec img {
    margin-left: 15px;
}

.navbarAvtive {
    left: 0;
    top: 0;
    position: absolute;
    width: 40%;
    height: auto;
    background-color: #b399bb;
    border-radius: 0 0 20px 0;
    padding: 2% 2% 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav_close_btn {
    width: 38px;
    margin-right: 2%;
    cursor: pointer;
}

.user_btn_sec_fornav {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.user_btn_sec_fornav section {
    width: 100%;
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.user_btn_sec_fornav section img {
    width: 28px;
    height: 28px;
    margin: 5px 10px;
}

@media (max-width: 720px) {
    .UserPage_Container {
        height: auto;
        padding-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right_sec {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .user_profile_info {
        display: none;
    }
    .user_profile_info_phone {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .user_profile_info_phone section {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .user_profile_info_phone div {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .user_profile_info_phone div div {
        display: inline-block;
        margin: 5px 0;
        width: 40px;
        min-height: 4px;
        border-radius: 25px;
        background-color: #000000;
    }
    .user_prof_img {
        width: 100px;
        border-radius: 50%;
        margin-left: 5%;
    }
    .user_profile_info h3 {
        font-size: 24px;
    }
    .user_info_sec {
        width: 80%;
        margin-top: 3%;
    }
    .user_info_sec section {
        margin: 1% 0;
    }
    .user_btn_sec {
        display: none;
    }

    .threebtn div {
        font-size: 20px;
    }

    .left_sec {
        width: 95%;
        height: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alert_div {
        width: 70%;
    }
}

@media (max-width: 420px) {
    .UserPage_Container {
        padding-top: 1%;
    }
    .user_prof_img {
        width: 60px;
        border: 3px solid var(--text_black_darker);
    }
    .user_profile_info_phone section {
        width: 50%;
    }
    .user_profile_info_phone div {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .user_btn_active {
        font-size: 20px;
    }
    .user_btn_notactive1 {
        font-size: 20px;
    }
    .user_btn_notactive2 {
        font-size: 20px;
    }
    .navbarAvtive {
        width: 60%;
    }
    .alert_div {
        width: 90%;
        height: 30%;
    }
    .alert_sec {
        width: 100%;
        height: 70%;
        border-radius: 15px;
        border-right: 20px solid #EBAC0A;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        background-color: #D3BBDD;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Activation_Container form {
        margin-top: 10%;
        margin-right: 5%;
    }

    .activation_input_sec {
        width: 100%;
    }

    .activation_input_sec p {
        width: 20%;
        margin-left: 5%;
    }

    .activation_input_sec input {
        width: 60%;
        height: 2.5rem;
        border-radius: 5px;
        border: 2px solid #261E354D;
    }

    .activation_btn_sec {
        width: 100%;
        margin: 5% 0;
        justify-content: center;
        align-items: center;
    }

    .activation_btn_sec button {
        width: 50%;
        height: 3rem;
        font-size: 16px;
        color: var(--white);
        background-color: #261E35;
        align-items: center;
        font-family: 'iran-sans';
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        border-radius: 10px;
        justify-content: center;
        padding: 3% 6%;
        border: none;
        text-align: center;
        user-select: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
