/* .Footer_Container {
    width: 100%;
    height: 45vh;
    padding-bottom: 1%;
    background-color: var(--white);
    background-image: url('../../Images/footerback.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.widthfoot {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #3C3C3B;
    background-color: #e8d0e5;
}

.foot_logo_sec img {
    width: 100px;
    height: 110px;
}

.foot_contact_sec {
    width: 30%;
    height: 50%;
    border-left: 4px solid #79668036;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.logooffooter {
    width: 60%;
}

.foot_contact_sec section {
    width: 100%;
    margin: 1% 0;
    display: flex;
}

.foot_contact_sec section img {
    width: 22px;
}

.foot_contact_sec p {
    margin: 0 2% 0 0;
}

.foot_lahze_sec {
    width: 25%;
    height: 50%;
    border-left: 4px solid #79668036;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot_lahze_sec button {
    color: #3C3C3B;
    font-size: 16px;
    font-family: 'iran-sans';
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.lastfooter {
    text-align: center;
}

.footloc {
    text-align: end;
    width: 100%;
    padding: 5px;
}

.foot_social_sec {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot_social_sec section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot_social_sec section a {
    margin: 4% 2%;
}




@media (max-width: 720px) {
    .foot_logo_sec img {
        width: 60px;
    }
    .foot_contact_sec section img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 432px) {
    .Footer_Container {
        height: 100vh;
        background-image: url('../../Images/footerbackphone.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    .foot_contact_sec {
        width: 50%;
        height: 25%;
        border-left: none;
        border-bottom: 4px solid #79668036;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot_lahze_sec {
        width: 50%;
        height: 25%;
        border-left: none;
        border-bottom: 4px solid #79668036;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot_social_sec {
        width: 50%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot_social_sec section img {
        margin: 0 5%;
    }
} */

.footer {
    width: 100%;
    /*direction: rtl;*/
}

.footer_container {
    background-color: #501A60;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-start;
    position: relative;
}

.footer_groups {
    display: flex;
    align-items: flex-start;
    width: 80%;
    justify-content: space-between;
}

.footer_group {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: start;
}

.footer_svg1 svg {
    height: 66px;
}

.footer_svg2 svg {
    height: 151px;
}

.footer_svg3 svg {
    height: 100px;
}

.footer_icons {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.footer_logo_icon {
    position: absolute;
    top: -70px;
}


/* .footer_logo_right {
    position: absolute;
    top: -70px;
    right: 3rem !important;
}

.footer_logo_left {
    position: absolute;
    top: -70px;
    left: 3rem !important;
} */

.footer_group_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    color: white;
}

.footer_logo_icon svg {
    width: 250px;
    height: 220px;
}

.footer_title {
    color: white;
    div {
        text-transform: capitalize;
        font-weight: 900!important;
        font-size: 1.1rem;
    }
}

.footer_title_xl {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
}

.footer_text {
    color: white;
    div {
        color: white;
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

.footer_bottom {
    font-size: 1rem;
    text-align: center;
    background-color: white;
    padding: 0.25rem;
}


/* Media queries (preserved and intact) */

@media screen and (max-width: 1000px) {
    .footer_text {
        width: 50%;
    }
    .footer_group_text {
        /*display: block!important;*/
        width: 100%;
        div {
            width: 100%;
        }
    }
}

@media screen and (max-width: 900px) {
    .footer_groups {
        flex-direction: column !important;
        gap: 1rem;
        width: 100%;
    }
    .footer_group {
        margin-top: 2em;
    }
    .footer_group:nth-child(1) {
        order: 6 !important;
    }
    .footer_group:nth-child(2) {
        order: 2 !important;
    }
    .footer_group:nth-child(3) {
        order: 3 !important;
    }
    .footer_icons svg {
        width: 20px !important;
        height: 21px !important;
    }
    .footer_logo_icon svg {
        width: 100px !important;
        height: 130px !important;
    }
    .footer_logo_icon {
        top: -45px !important;
    }
    .footer_logo_right {
        right: 3rem !important;
    }
    .footer_logo_left {
        left: 3rem !important;
    }
}