.Trophies_Container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

.header_pic {
    width: 400px;
    margin-bottom: 2%;
    /* user-drag: none; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.samane {
    cursor: pointer;
}

.pid_sec {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.pid_sec img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pid_sec section {
    width: 25%;
    /* height: 10rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
}


/* .pid_sec a,
.pid_sec img {
    width: 1%;
} */

.Hologram_img {
    width: 60%;
    /* height: 90%; */
    /* margin-right: 20px; */
}

@media (max-width: 720px) {
    .Trophies_Container {
        padding-top: 10%;
    }
    .header_pic {
        width: 380px;
        margin-bottom: 10%;
    }
    .pid_sec {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .pid_sec img {
        width: 150px;
        height: 150px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media (max-width: 420px) {
    .Trophies_Container {
        padding-top: 20%;
        height: 50vh;
    }
    .header_pic {
        width: 300px;
        margin-bottom: 5%;
    }
    .pid_sec {
        width: 70%;
        height: fit-content;
        flex-wrap: wrap;
    }
    .pid_sec section {
        width: 35%;
        /* height: 10rem; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 4px;
    }
    .pid_sec img {
        width: 100%;
        height: 100px;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}