.QandaPage_Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.main_qnada_sec {
    width: 90%;
    margin-top: 2%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AC91B64A;
}

.navbar_qnda_sec {
    width: 90%;
}

.questions_sec {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.questions_sec h1 {
    font-size: 32px;
}

.certainq_div {
    width: 85%;
    padding-bottom: 2%;
    margin-top: 2%;
    border-bottom: 1px solid #e5e5e5;
}

.certainq_div div {
    font-size: 18px;
    color: #282828;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 200ms ease-in;
}

.certainq_div div:hover {
    color: #793E8E;
    transition: all 200ms ease-in;
}

.certainq_div div img {
    width: 36px;
    /* height: 36px; */
}

.certainq_div div p {
    text-align: right;
}

.span_active {
    height: auto;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    transition: all 200ms ease-in;
}

.spandeActive {
    height: 0;
    font-size: 0;
    font-weight: bold;
    color: #8a8a8a;
    transition: all 200ms ease-in;
}

@media (max-width: 720px) {

    .info_pic {
        display: none;
    }

    .info_pic_for_phone {
        display: block;
        margin: 5% 0;
    }

}

@media (max-width: 420px) {

    .main_qnada_sec {
        width: 100%;
        margin-top: 0;
        margin-bottom: 5%;
        padding-top: 5%;
        border-radius: 0 0 35px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #AC91B64A;
    }

    .AboutUs_info_sec {
        width: 90%;
        margin-top: 5%;
    }

    .questions_sec h1 {
        font-size: 28px;
        margin-top: 5%;
    }

    .certainq_div {
        margin-top: 5%;
    }

    .certainq_div div img {
        width: 24px;
        /* height: 36px; */
    }

    .certainq_div div p {
        font-size: 16px;
        width: 80%;
    }

}